* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

@import "bootstrap/scss/bootstrap-grid";

@font-face {
  font-family: "HelveticaNeue";
  src: url("../../font/HelveticaNeue.woff") format("woff");
}

body {
  font-family: HelveticaNeue;
  width: 1440px;
  height: 3593px;
}

.header {
  display: flex;
  width: 1440px;
  height: 238px;
  padding: 30px 162px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 51px;
  align-self: stretch;
}

.titre {
  display: flex;
  width: 1064px;
  justify-content: space-between;
  align-items: center;
}

.cta {
  display: flex;
  width: 114px;
  align-items: center;
  gap: 27px;
  flex-shrink: 0;
}

.burger {
  display: flex;
  align-items: center;
  gap: 119px;
  align-self: stretch;
}

.principal {
  display: flex;
  width: 546px;
  align-items: center;
  gap: 47px;
}

.secondaire {
  display: flex;
  width: 451px;
  align-items: center;
  gap: 62px;
}

.burger .principal {
  color: #000;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.burger .secondaire {
  color: #000;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.Intro {
  display: flex;
  width: 1440px;
  height: 682px;
  padding: 18px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  background: url(../img/vin\ rouge.png) lightgray 50% / cover no-repeat;
}

.txtbtn {
  display: flex;
  width: 641px;
  flex-direction: column;
  align-items: flex-start;
  gap: 240px;
}

.sauvage {
  color: #000;
  font-family: "Helvetica Neue";
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}

.txtbtn .cta {
  display: flex;
  width: 285px;
  height: 70px;
  padding: 17px 65px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #7a9fff;
  color: #501e2c;
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cepages .col-7 {
  display: flex;
  width: 827px;
  height: 526px;
  padding: 62px 107px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  background: #fabeff;
}

.cepages .col-5 {
  width: 625px;
  height: 526px;
  flex-shrink: 0;
  background: url(../img/Vignes.jpg) lightgray 50% / cover no-repeat;
}

.vogue {
  color: #501e2c;
  font-family: "Helvetica Neue";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.philo .col-7 {
  display: flex;
  width: 827px;
  height: 526px;
  padding: 62px 107;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  background: #ffa800;
}

.philo .col-5 {
  width: 625px;
  height: 526px;
  flex-shrink: 0;
  background: url(../img/raisin.png) lightgray 50% / cover no-repeat;
}

.Philo {
  color: #e2df97;
  font-family: "Helvetica Neue";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.vignerons .col-7 {
  display: flex;
  width: 827px;
  height: 526px;
  padding: 62px 107px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  background: #86ffaf;
}

.vignerons .col-5 {
  width: 625px;
  height: 526px;
  flex-shrink: 0;
  background: url(../img/legoat.webp) lightgray 50% / cover no-repeat;
}

.goat {
  color: #501e2c;
  font-family: "Helvetica Neue";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cave {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.cave img {
  width: 100%;
  display: block;
}

.cave .cta {
  display: flex;
  width: 356px;
  height: 89px;
  padding: 25px 38px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: #7a9fff;
  position: absolute;
  top: 50%;
  left: 50%;
}

.Cave {
  color: #501e2c;
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer {
  display: flex;
  width: 1440px;
  height: 394px;
  padding: 38px 162px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background: #f8dee5;
}

.listA {
  display: flex;
  width: 260px;
  flex-direction: column;
  align-items: flex-start;
  gap: 209px;
  flex-shrink: 0;
}

.langue {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}

.langue {
  width: 212px;
  color: #7a9fff;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.logochato {
  color: #7a9fff;
  font-family: Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.foot .logo {
  display: flex;
  width: 71px;
  justify-content: space-between;
  align-items: center;
  width: 23px;
  height: 23px;
  flex-shrink: 0;
}

.foot .listB {
  color: #7a9fff;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.listB {
  display: flex;
  width: 166px;
  flex-direction: column;
  align-items: flex-end;
  gap: 35px;
}

.foot .listC {
  color: #7a9fff;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.listC {
  display: flex;
  width: 166px;
  flex-direction: column;
  align-items: flex-start;
  gap: 37px;
  flex-shrink: 0;
}

.IP .bio {
  width: 166px;
  height: 135px;
  flex-shrink: 0;
}

.IP .gm {
  width: 166px;
  height: 40px;
  flex-shrink: 0;
}

.bas {
  color: #7a9fff;
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lists {
  display: flex;
  align-items: flex-start;
  gap: 119px;
}

.foot {
  display: flex;
  align-items: flex-start;
  gap: 119px;
}

.bas {
  display: flex;
  align-items: center;
  gap: 24px;
}
